<!--
  ~ @copyright 2019-2020 Dicr http://dicr.org
  ~ @author Igor A Tarasov <develop@dicr.org>
  ~ @license proprietary
  ~ @version 14.02.20 18:28:15
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="My Test Suite">
            <!--directory>tests</directory-->
            <file>tests/PersistentCookiesBehaviorTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
